.screen-block {
    width: 800px;
    min-height: 100vh;
    border: 2px solid #000;
    margin-left: calc(50% - 400px); 
    display: block;
}
.link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}
.span {
    color: #fff;
    text-shadow: 0px 0px 30px #000;
}
.round-border {
    line-height: 1em;
    border-radius: 1em;
    padding: 0.2em;
    border: 1px solid #fff;
}