.head-back {
    background-image: url("../../img/img-background.png");
    min-height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu-line {
    width: 1000px;
    margin-left: calc(50% - 500px);
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.logo-pic {
    display: block;
    width: 30px;
    height: 30px;
    background: none;
    float: left;
}
.logo-txt {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    letter-spacing: 2px;
}
.header-main {
    width: 400px;
    text-align: left;
    color: #fff;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
    margin-left: 15%;
}
.header-txt {
    color: #fff;
    font-weight: lighter;
    font-size: 36px;
    /* text-shadow: 0 0 1em #000; */
    text-shadow: #000 1px 0 10px;
    line-height: 0.6em;
    letter-spacing: 8px;
}
.header-txt:last-of-type {
    font-size: 20px;
    letter-spacing: 0;
    padding: 1.2em 0;
}
.social-line {
    display: block;
    font-size: 20px;
}
.h-div-menu {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 1em;
    padding: 5px;
}
.menu-line > .btn {
    font-size: 16px;
    background: none;
}
.h-div-menu > .link:hover {
    text-decoration: underline;
    color: yellow;
}
.h-div-menu > .link:last-of-type:hover {
    background-color: gray;
    text-decoration: underline;
    color: #fff;
}
.hero-bottom {
    width: 1000px;
    padding: 10px;
    color: #fff;
    background-color: #2D455F;
    margin-left: calc(50% - 500px);
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 0px 20px 0 -5px #192940;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.hero-bottom > .date {
    width: 25%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.hero-bottom > .date > .chunk:nth-of-type(1) {
    width: 100%;
    padding: 0 20px;
    text-align: left;  
}
.hero-bottom > .date > .chunk:nth-of-type(2) {
    padding: 0 20px;
    text-align: left;
    font-size: 48px;   
}
.hero-bottom > .date > .chunk-sec {
    display: block;
    text-align: left;
}
.date-selector {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    top: 40%;
    right: 10%;
}
.date-selector:hover {
    text-shadow: 0 0 30px #fff;
}
.hero-bottom > .person {
    width: 12%;
    position: relative;
}
.hero-bottom > .person > .chunk:nth-of-type(1){
    font-size: 20px;
}
.hero-bottom > .person > .chunk:nth-of-type(2){
    font-size: 48px;
}
.hero-bottom > .person > .icon {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 0.2em;
    top: 50%;
}
.plus {
    right: 10%;
}
.minus {
    Left: 10%;
}
.hero-bottom > .person > .icon:hover {
    text-shadow: 0 0 30px #fff;
    border: 0.05em solid #fff;
}
.hero-bottom > .check {
    background-color: #C8FA8B;
    color: gray;
}
.down {
    background-color: #fff;
    color: #2D455F;
    position: absolute;
    border: none;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 1030px) {
    .hero-bottom {
        width: 600px;
        margin-left: calc(50% - 300px);
        flex-wrap: wrap;
    }    
    .hero-bottom > .date {
        width: 50%;
        padding-bottom: 20px;
    }
    .hero-bottom > .person {
        width: 33%;
    }
        .hero-bottom > .person > .icon {
        padding: 0.2em;
    }
        .plus {
        right: 20%;
    }
        .minus {
        Left: 20%;
    }
    .down {
        bottom: -17px;
    }
}
@media (max-width: 650px) {
    .hero-bottom {
        width: 320px;
        margin-left: calc(50% - 160px);
        flex-wrap: wrap;
    }    
    .hero-bottom > .date {
        width: 100%;
        padding-bottom: 20px;
    }
    .hero-bottom > .person {
        width: 50%;
    }
        .hero-bottom > .person > .icon {
        padding: 0.2em;
    }
        .plus {
        right: 20%;
    }
        .minus {
        Left: 20%;
    }
    .hero-bottom > .check {
        margin-top: 20px;
    }
    .down {
        bottom: -22px;
    }
}
